html{
  font-family: "Helvetica Neue","Arial","Hiragino Sans","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
  font-size: 100%;
}

body{
  margin: 0;
}

#container{
  position: relative;
  bottom: 10px;
  width: 100%;
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
}

#container-nav a{
  text-decoration: none;
}

nav ul{
  /* display: flex; */
  text-align: right;
  justify-content: flex-end;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 60px;
  font-weight: bold;
}

li{
  display: inline-block;
  list-style-type: none;
  
  /* background: transparent;
  background-image: url(img/mainvisual.jpg);
  opacity: 1;
  background-repeat: no-repeat; */
  /* text-align: right; */

}

a{
  color: #FFFFFF;
  margin: 15%;
}

/* ヘッダー */
#container h1{
  position: absolute;
  top: 5rem;
  left: 5rem;
  right: 5rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 115px;
  font-weight: bold;
}

#container{
  width: 100%;
  background-image: url(img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
}

#menue{
  position: relative;
}

#menue h1{
  position: absolute;
  top: 10rem;
  left: 10rem;
  right: 10rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 72px;
  font-weight: bold;
}

.menue-img{
  width: 100%;
  background-image: url(img/menu.jpg);
  background-size: cover;
  background-position: center;
}

.mag{
  width: 100%;
  background-image: url(img/menu.jpg);
  background-size: cover;
  background-position: center;
}

/* Menue 幅調整*/
#menue-containts{
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  padding: auto;
}

.text-rightside{
  margin: 0;
  width: 50%;
  text-align: center;
  border-right: solid 1px #000;
}

.text-leftside{
  margin: 0;
  width: 50%;
  text-align: center;
}

h2{
  font-size: 2.5rem;
}

#menu-containts dt{
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  width: 50%;
  border-bottom: dotted 1px #000;
  padding-left: 15%;
  
}

/* #menu-containts dd{
  width: 20%;
} */

.about-img{
  width: 100%;
  background-image: url(img/about.jpg);
  background-size: cover;
  background-position: center;
}

.location-img{
  width: 100%;
  background-image: url(img/location.jpg);
  background-size: cover;
  background-position: center;
}